html {
  font-size: 62.5%;
}

body {
  padding-top: 7rem;
  font-size: 1.6rem;
  color: $color-text;
  background: $grey;
}

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}

p {
  line-height: 2.4rem;
}
